/* Estilo normal para el botón de ver */
.boton-ver {
    -fx-background-color: rgb(112, 108, 108);
}
/* styles.css */

/* Estilo para el encabezado de la tabla */
.table-view .column-header {
    -fx-background-color: #4CAF50; /* Cambia el color de fondo del encabezado */
    -fx-text-fill: white; /* Cambia el color del texto del encabezado */
}

/* Estilo para las celdas de la tabla */
.table-row-cell {
    -fx-background-color: #E0E0E0; /* Cambia el color de fondo de las celdas */
}

/* Estilo para las celdas alternas de la tabla */
.table-row-cell:odd {
    -fx-background-color: #F0F0F0; /* Cambia el color de fondo de las celdas alternas */
}

/* Estilo para las celdas seleccionadas de la tabla */
.table-row-cell:selected {
    -fx-background-color: #2196F3; /* Cambia el color de fondo de las celdas seleccionadas */
    -fx-text-fill: white; /* Cambia el color del texto de las celdas seleccionadas */
}

/* Estilo normal para el botón de eliminar */
.boton-eliminar {
    -fx-background-color: rgb(112, 108, 108);
}

/* Estilo normal para el botón de modificar */
.boton-modificar {
    -fx-background-color: rgb(112, 108, 108);
}

.boton-flotante {
    -fx-background-color: #000000;
    -fx-background-radius: 45%; /* Hace que el botón sea circular */
    -fx-min-width: 45px; /* Ancho mínimo personalizado */
    -fx-min-height: 45px; /* Altura mínima personalizada */
    -fx-max-width: 45px; /* Ancho máximo personalizado, para mantenerlo circular */
    -fx-max-height: 45px; /* Altura máxima personalizada, para mantenerlo circular */
}

.boton-flotante:hover {
    -fx-background-color: #000000;
    -fx-background-radius: 45%; /* Hace que el botón sea circular */
    -fx-min-width: 45px; /* Ancho mínimo personalizado */
    -fx-min-height: 45px; /* Altura mínima personalizada */
    -fx-max-width: 45px; /* Ancho máximo personalizado, para mantenerlo circular */
    -fx-max-height: 45px; /* Altura máxima personalizada, para mantenerlo circular */
}


/* Estilo para el botón de ver cuando el mouse está sobre él */
.boton-ver:hover {
    -fx-background-color: #F4D03F; /* Cambia el color de fondo al pasar el mouse sobre el botón de ver */
}

/* Estilo para el botón de eliminar cuando el mouse está sobre él */
.boton-eliminar:hover {
    -fx-background-color: #F4D03F; /* Cambia el color de fondo al pasar el mouse sobre el botón de eliminar */
}

/* Estilo para el botón de modificar cuando el mouse está sobre él */
.boton-modificar:hover {
    -fx-background-color: #F4D03F; /* Cambia el color de fondo al pasar el mouse sobre el botón de modificar */
}
